.yahtzee-page {


  .dice {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    font-weight: bold;
    font-size: 32px;
    border-radius: 3px;
    user-select: none;

    &:hover {
      background-color: #ddd;
      cursor: pointer;
    }

    &:active {
      background-color: #ccc;
    }
  }
}