.page {
  height: 100%;

  &.with-navbar {
    padding-top: var(--navbar-height);

    &.page--container {
      padding-top: calc(var(--navbar-height) + 10px);
    }
  }

  &--container {
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
}