.page-navigation {
  $border-size: 3px;
  $height: 45px;
  $bg-color: #eee;
  $border-color: #cacaca;
  $border-selected-color: var(--intent-primary-color-base);
  $link-ink-color: black;
  $link-selected-ink-color: var(--intent-primary-color-base);
  $link-bg-color: transparent;
  $link-hover-bg-color: rgba(0, 0, 0, 0.05);

  background: $bg-color;
  border-bottom: $border-size solid $border-color;

  &--item {
    height: $height;
    line-height: $height;
    padding: 0 25px;
    margin-bottom: -$border-size;
    background-color: $link-bg-color;
    border-right: 1px solid $border-color;
    color: $link-ink-color;

    &:hover {
      background: $link-hover-bg-color;
      cursor: pointer;
    }

    &.selected {
      color: $link-selected-ink-color;
      border-bottom: $border-size solid $border-selected-color;
      font-weight: bold;
    }
  }

  a:last-of-type>* {
    border-right: 0;
  }
}