.page-navigation {
  $border-size: 1px;
  $height: 45px;
  $border-color: #cacaca;
  $border-selected-color: var(--intent-primary-color-base);
  $link-ink-color: black;
  $link-selected-ink-color: var(--intent-primary-color-base);
  $link-bg-color: transparent;
  $link-hover-bg-color: rgba(0, 0, 0, 0.05);

  border-bottom: $border-size solid $border-color;
  height: $height;

  &--item {
    padding: 0 10px;
    background-color: $link-bg-color;
    color: $link-ink-color;
    height: $height;
    border-bottom: $border-size solid $border-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ink-base);
    min-width: 120px;

    &:hover {
      background: $link-hover-bg-color;
      cursor: pointer;
    }

    &:visited {
      color: var(--ink-base);
    }

    &.selected {
      color: $link-selected-ink-color;
      border-bottom: $border-size solid $border-selected-color;
      font-weight: bold;
    }
  }

  a:last-of-type>* {
    border-right: 0;
  }
}