.table-container {
  flex: 1 1 auto;
  width: 100%;
  padding-bottom: 5px;
  position: relative;

  .table-content {
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    background-color: var(--table-bg-color);
    position: relative;

    .table__empty {
      font-size: 18px;
      font-weight: 300;
      color: var(--ink-muted);
    }

    .table__loading-spinner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.8);

      >svg {
        height: 32px;
        width: 32px;
        color: var(--ink-muted);
        animation: spin;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }
  }

  .table-footer {
    padding: 10px 0;
  }
}

.table {
  $header-x-padding: 12px;
  $header-y-padding: 10px;
  $cell-x-padding: $header-x-padding;
  $icon-size: 14px;
  $alternating-row-bg-color: rgba(100, 100, 100, 0.05);
  $row-height: 40px;

  border-collapse: collapse;
  width: 100%;

  thead {
    border-bottom: 1px solid var(--input-border-color);
    background-color: rgba(100, 100, 100, 0.10);

    th {
      text-align: left;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      color: #666;
      padding: $header-y-padding $header-x-padding;
      position: relative;

      &:hover {
        background-color: rgba(100, 100, 100, 0.05);
      }

      >div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &.sortable {
        cursor: pointer;
        padding-right: $cell-x-padding + $icon-size;

        .svg-inline--fa {
          position: absolute;
          right: calc($cell-x-padding / 2);
          height: $icon-size;
          width: $icon-size;
        }
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--input-border-color);

      &:nth-of-type(even) {
        background-color: $alternating-row-bg-color;
      }

      td {
        font-size: 14px;
        line-height: 16px;
        padding: 5px $cell-x-padding;
        vertical-align: middle;
        height: $row-height;

        &.reduce-padding {
          padding: 1px 2px;
        }
      }

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }

  .fit-width-to-content {
    width: 1%;
    white-space: nowrap;
  }
}