:root {
  --color-gray-700: #374151;

  --white: #fff;
  --black: #10161A;

  --blue1: #367bf5;
  --blue2: #6197f3;
  --green1: #2fa84f;
  --yellow1: #f3a72e;
  --red1: #ea3d2f;

  --dark-gray5: #182026;
  --dark-gray4: #202B33;
  --dark-gray3: #293742;
  --dark-gray2: #30404D;
  --dark-gray1: #394B59;

  --gray5: #5C7080;
  --gray4: #738694;
  --gray3: #8A9BA8;
  --gray2: #A7B6C2;
  --gray1: #BFCCD6;

  --light-gray5: #CED9E0;
  --light-gray4: #D8E1E8;
  --light-gray3: #E1E8ED;
  --light-gray2: #EBF1F5;
  --light-gray1: #F5F8FA;
}